:root {
    --color-blue: #5956e9;
    --color-light: #FFFFFF;
    --color-dark: #232233;

    --border-radius: 10px;
    --border-radius: 30px;

    --container-width: 1170px;
    --container-padding-x: 20px;

}